$primary-color: #132D57 !important;
$shadow-primary-color: #132D5722 !important;
$secondary-color: #A1BDD4 !important;
$shadow-secondary-color: #A1BDD422 !important;

$light-color: white !important;
$dark-color: black !important;
$light-background: #f2f3f4 !important;
$gray-color: #ccc !important;
$shadow-gray-color: #cccccc77 !important;

$dangerous-color: #ff4d4f !important;
$action-color: #54d429 !important;